modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["freetype", "glibcLocales", "gumbo", "harfbuzz", "jbig2dec", "libjpeg_turbo", "mupdf", "openjpeg", "swig", "xcbuild"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "README Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "main"

[[workflows.workflow]]
name = "README Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000"
waitForPort = 5000

[[workflows.workflow]]
name = "main"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cat README.md"

[deployment]
run = ["sh", "-c", "python -m http.server 5000"]

[[ports]]
localPort = 5000
externalPort = 80
