@import "tailwindcss";

html {
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  background: white;
  color: rgb(17 24 39);
  transition: all 0.3s;
}

.dark body {
  background: rgb(17 24 39);
  color: white;
}

* {
  border-color: rgb(229 231 235);
}

.dark * {
  border-color: rgb(55 65 81);
}